# Copyright 2018-2025 the original author or authors.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

api = "0.7"

[buildpack]
  description = "A Cloud Native Buildpack that contributes the Elastic APM Agent and configures it to connect to the service"
  homepage = "https://github.com/paketo-buildpacks/elastic-apm"
  id = "paketo-buildpacks/elastic-apm"
  keywords = ["elastic-apm", "agent", "apm", "java"]
  name = "Paketo Buildpack for Elastic APM"
  sbom-formats = ["application/vnd.syft+json", "application/vnd.cyclonedx+json"]
  version = "{{.version}}"

  [[buildpack.licenses]]
    type = "Apache-2.0"
    uri = "https://github.com/paketo-buildpacks/elastic-apm/blob/main/LICENSE"

[metadata]
  include-files = ["LICENSE", "NOTICE", "README.md", "linux/amd64/bin/build", "linux/amd64/bin/detect", "linux/amd64/bin/main", "linux/amd64/bin/helper", "linux/arm64/bin/build", "linux/arm64/bin/detect", "linux/arm64/bin/main", "linux/arm64/bin/helper", "buildpack.toml"]
  pre-package = "scripts/build.sh"

  [[metadata.dependencies]]
    cpes = ["cpe:2.3:a:elastic-apm:java-agent:1.55.4:*:*:*:*:*:*:*"]
    id = "elastic-apm-java"
    name = "Elastic APM Java Agent"
    purl = "pkg:generic/elastic-apm-java-agent@1.55.4"
    sha256 = "dc084bc06f34021b408effc957c458dce8278aab8859f173a3c2f9b085e032c4"
    source = "https://repo1.maven.org/maven2/co/elastic/apm/elastic-apm-agent/1.55.4/elastic-apm-agent-1.55.4-sources.jar"
    source-sha256 = "ac32662ed600c922d71f94c39a6376a13c680efc1e506a76f8cd2159b7e13b00"
    stacks = ["*"]
    uri = "https://repo1.maven.org/maven2/co/elastic/apm/elastic-apm-agent/1.55.4/elastic-apm-agent-1.55.4.jar"
    version = "1.55.4"

    [[metadata.dependencies.licenses]]
      type = "Apache-2.0"
      uri = "https://github.com/elastic/apm-agent-java/blob/master/LICENSE.txt"

[[stacks]]
  id = "*"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
